@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
}

@layer base {
  * {
    @apply font-sans;
  }

  body {
    @apply m-0 p-0 bg-white text-neutral-black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
